.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: #f2f2f2;
  color: #000;
}

/* Шапка сайта, блок header */
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  display: flex;
  align-items: center;
  /* display: none; */
}

.logo {
  width: 228px;
  height: 32px;
  background-size: contain;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  background-image: url(../images/logo_place_header.svg);
}

.header__title {
  margin: 0;
  width: 730px;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  z-index: 1;
}

.header__subtitle {
  margin: 0;
  position: absolute;
  width: 388px;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  z-index: 1;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
}

.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 765px;
  height: 608px;
  object-fit: cover;
}

/* Секция, блок description  */
.description {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  background-color: white;
  /* display: none; */
}

.two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  margin: 0;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  text-decoration: none;
  color: #2f80ed;
  font-weight: normal;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.two-columns__paragraph {
  margin: 0;
  padding-bottom: 30px;
}

.two-columns__paragraph:last-of-type {
  padding-bottom: 0;
}

.two-columns__span-accent {
  font-weight: 600;
}

/* Секция, блок digits */
.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
  background-color: white;
  /* display: none; */
}

.section-title {
  padding: 0 0 20px;
  margin: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.section-subtitle {
  padding: 0;
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 1100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.table__cell {
  width: 250px;
  padding-top: 60px;
}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 20px;
}

.table__text {
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
}

.table__text:last-child {
  display: block;
  padding-top: 20px;
}

/* Секция, блок feynman */
.feynman {
  padding-top: 100px;
  min-height: 890px;
  box-sizing: border-box;
  background: url(../images/feynman.png) no-repeat;
  background-position: left bottom;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* display: none; */
}

.feynman__title {
  margin: 0;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  text-align: center;
}

.feynman__subtitle {
  margin: 0;
  padding-top: 70px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  text-decoration: none;
  color: #2f80ed;
}

/* Секция, блок kaufman */
.kaufman {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 90px 0;
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
  z-index: 1;
  /* display: none; */
}

.kaufman__triangle {
  position: absolute;
  top: 0;
  right: -210px;
  background: url(../images/kaufman-triangle.svg) no-repeat;
  width: 877px;
  height: 877px;
  background-size: cover;
  z-index: -1;
}

.table_theme_dark {
  color: white;
}

.section-title_theme_dark {
  color: white;
}

.section-subtitle_theme_dark {
  color: white;
}

.table__cell_theme_dark {
  width: 200px;
  padding-top: 80px;
}

/* Подвал сайта, блок footer */
/* .footer * {
  border: 1px solid red;
} */

.footer {
  display: flex;
  justify-content: center;
  padding: 60px 0 40px;
  background-color: #1f1f1f;
  position: relative;
  min-height: 350px;
  box-sizing: border-box;
  /* display: none; */
}

.footer__columns {
  width: 90%;
  color: white;
  display: flex;
  justify-content: space-between;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
}

.footer__author {
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
}

.footer__column_content_info {
  margin-bottom: 16px;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 20px;
}

.footer__column-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer__column-heading_font-weight_n {
  font-weight: normal;
}

.footer__column_content_social {
  line-height: 30px;
  font-size: 18px;
}

.footer__column-link {
  text-decoration: none;
  color: white;
  line-height: 30px;
  font-size: 18px;
}

.footer__column-icon::before {
  content: "";
  margin-right: 10px;
  height: 16px;
  width: 16px;
  background-size: cover;
  display: inline-block;
}
.footer__column-icon_icon_facebook::before {
  background-image: url(../images/facebook_color_white.svg);
}

.footer__column-icon_icon_vkontakte::before {
  background-image: url(../images/vk_color_white.svg);
}

.footer__column-icon_icon_instagram::before {
  background-image: url(../images/instagram_color_white.svg);
}
