.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  text-decoration: none;
  margin-left: 48px;
  color: #2f80ed;
}

.khan__buy-link:hover {
  font-weight: 600;
  text-shadow: 1px 1px darkblue;
}